*{
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin:128px 277px auto 16px;
    font-size: 32px;
    line-height: 41px;
    font-weight: 500;
}

p{
    margin: 12px 16px auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    font-weight: normal;
}

.Input-Email{
    background: #F2F2F7;
    border-radius: 6px;
    border: none;
    display: block;
    margin-left: 16px;
    margin-top: 102px;
    Width :343px;
    Height: 48px;
}

.Input-Password{
    background: #F2F2F7;
    border-radius: 6px;
    border: none;
    display: block;
    margin-left: 16px;
    margin-top: 12px;
    Width :343px;
    Height: 48px;
}